<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">
    <title>用例管理</title>
    <!-- Custom CSS -->
    <link href="/static/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->

                <a class="navbar-brand" href="/">
                    <!-- Logo text -->
                    <span class="logo-text">
                             <!-- dark Logo text -->
                             <p>平台</p>
                        </span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- create new -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="d-none d-md-block">管理 <i class="fa fa-angle-down"></i></span>
                            <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/caseAdmin">新增造数case</a>
                            <a class="dropdown-item" href="#">新增接口</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <!-- ============================================================== -->
                    <!-- Comment -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-bell font-24"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">A simple primary alert—check it out!
                                Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End Comment -->
                    <!-- ============================================================== -->

                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="/static/assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                            <div class="dropdown-divider"></div>
                            <div class="p-l-30 p-10"><a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a></div>
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <!-- 侧边栏Sidebar-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <!--业务造数-->
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">业务造数 </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/listPage?pageType=1" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> 直销 </span></a></li>
                            <li class="sidebar-item"><a href="/listPage?pageType=2" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 公共服务 </span></a></li>
                            <li class="sidebar-item"><a href="/listPage?pageType=3" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 代理商 </span></a></li>
                            <li class="sidebar-item"><a href="/listPage?pageType=4" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 电销 </span></a></li>
                            <li class="sidebar-item"><a href="/listPage?pageType=5" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 财务 </span></a></li>
                            <li class="sidebar-item"><a href="/listPage?pageType=6" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 车主服务 </span></a></li>
                        </ul>
                    </li>
                    <!--diff工具-->
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">接口Diff </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/singleDiff" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> 单次接口 </span></a></li>
                            <li class="sidebar-item"><a href="/manyDiff" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> 多次接口 </span></a></li>
                        </ul>
                    </li>
                    <!--接口测试-->
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">接口测试（待完成） </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/apiPage?eSaler" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 电销 </span></a></li>
                            <li class="sidebar-item"><a href="/apiPage?sunflower" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> 直销 </span></a></li>
                            <li class="sidebar-item"><a href="/apiPage?agency" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 代理商 </span></a></li>
                            <li class="sidebar-item"><a href="/apiPage?publicService" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 公共服务 </span></a></li>
                            <li class="sidebar-item"><a href="/apiPage?finance" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 财务 </span></a></li>
                            <li class="sidebar-item"><a href="/apiPage?afterMarket" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> 车主服务 </span></a></li>
                        </ul>
                    </li>
                    <!--mock服务-->
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-move-resize-variant"></i><span class="hide-menu">Mock服务(待完成) </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/httpMock" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> HttpMock </span></a></li>
                            <li class="sidebar-item"><a href="/dubboMock" class="sidebar-link"><i class="mdi mdi-multiplication-box"></i><span class="hide-menu"> DubboMock </span></a></li>
                            <li class="sidebar-item"><a href="/kafkaMock" class="sidebar-link"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu"> KafkaMock </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">业务造数</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body printableArea">
                        <h3> <span class="pull-right">用例管理</span></h3>
                        <!--caseTable-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive m-t-40" style="clear: both;">
                                    <table class="table table-hover">
                                        <thead>
                                        <button  class="btn btn-success" data-toggle="modal" data-target="#Modal2" >Add</button>
                                        <tr>
                                            <th class="text-center">用例Id</th>
                                            <th class="text-left">用例名</th>
                                            <th>描述</th>
                                            <th class="text-right">编辑</th>
                                            <th class="text-right">删除</th>
                                        </tr>
                                        </thead>
                                        <tbody id="caseTableBody">
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>


                        <!--prenext按钮-->
                        <!--<div class="col-md-4">-->
                        <!--<nav aria-label="Page navigation example">-->
                        <!--<ul class="pagination">-->
                        <!--<li class="page-item"><a class="page-link" href="#">Previous</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
                        <!--<li class="page-item"><a class="page-link" href="#">Next</a></li>-->
                        <!--</ul>-->
                        <!--</nav>-->
                        <!--</div>-->



                        <!-- 新增case弹窗Modal2-->
                        <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">新增用例</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form>
                                    <div class="modal-body" id="modalBody-addCase">
                                        <!--case提交栏-->
                                        <div class="card-body">
                                            <div class="form-group row">
                                                <label class="col-sm-3 text-right control-label col-form-label">系统名称</label>
                                                <div class="col-md-9">
                                                    <select class="select2 form-control custom-select" id="system_type" style="width: 100%; height:36px;">
                                                        <option value=1>直销</option>
                                                        <option value=2>公共服务</option>
                                                        <option value=3>代理商</option>
                                                        <option value=4>电销</option>
                                                        <option value=5>财务</option>
                                                        <option value=6>车主服务</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="case_name" class="col-sm-3 text-right control-label col-form-label">用例名称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="case_name" placeholder="请填写case名">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="description" class="col-sm-3 text-right control-label col-form-label">用例描述</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="description" placeholder="请填写用例描述">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="run_url" class="col-sm-3 text-right control-label col-form-label">用例地址</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="run_url" placeholder="请填写用例地址（python工程中接口地址）">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button class="btn btn-primary" id="modalButton" data-dismiss="modal" onclick="addCase()">提交</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 更新case弹窗Modal3 -->
                        <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel3">请确认！</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modalText3">
                                        是否删除该用例
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button class="btn btn-primary" id="modalButton3" data-dismiss="modal">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 删除case弹窗Modal4 -->
                        <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel4">请确认！</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="modalText4">
                                        是否删除该用例
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                                        <button class="btn btn-primary" id="modalButton4"  onclick="deleteCase()">删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">@</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="/static/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/static/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/static/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/static/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="/static/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/static/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/static/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/static/dist/js/custom.min.js"></script>
<script type="text/javascript">
    $(function() {
        caseTable(1);
    });

    //组装case列表
    function caseTable(id) {
        $.ajax({
            type: "GET",
            url: "/testcase/getAll",
            data: "pn="+id,
            dataType: "json",
            success: function(result) {
                buildTable(result);
                // 分页按钮和信息
                prenext(result.content);

            }
        });
    }
    
    // 接口列表函数
    function buildTable(result) {
        // 清空分页
        $("#caseTableBody").empty();
        var cases = result.content.list;
        $.each(cases, function(index, item) {
            var tr1 = $("<tr></tr>")

            // 组装表格
            var td11 = $("<td></td>").addClass("text-center").append(item.id);
            var td12 = $("<td></td>").addClass("text-left").append(item.caseName);
            var td13 = $("<td></td>").append(item.description);
            var td14 = $("<td></td>").addClass("text-right");
            var updateButton = $("<button  class=\"btn btn-success\" data-toggle=\"modal\" data-target=\"#Modal3\" >Update</button>");
            updateButton.attr("onclick",updateId(item.id));
            var td15 = $("<td></td>").addClass("text-right");
            var deleteButton = $("<button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#Modal4\" >Delete</button>");
            deleteButton.attr("onclick",deleteId(item.id));
            td14.append(updateButton);
            td15.append(deleteButton);
            tr1.append(td11);
            tr1.append(td12);
            tr1.append(td13);
            tr1.append(td14);
            tr1.append(td15);

            //插入表格
            $("#caseTableBody").append(tr1);
        });
    }

    // 分页按钮和信息
    function prenext(pageinfo) {

        $("#foot").empty();
        var previous = $("<button></button>")
            .addClass("w3-button w3-black w3-padding-large w3-margin-bottom").append("Previous");
        var next = $("<button></button>")
            .addClass("w3-button w3-black w3-padding-large w3-margin-bottom").append("Next »");
        // 是否为第一页
        if(pageinfo.isFirstPage) {
            previous.addClass("w3-disabled");
        }
        // 是否为最后一页
        if(pageinfo.isLastPage) {
            next.addClass("w3-disabled");
        }

        if(pageinfo.hasPreviousPage == true) {
            previous.click(function() {
                caseTable(pageinfo.pageNum - 1);
            });
        }
        if(pageinfo.hasNextPage == true) {
            next.click(function() {
                caseTable(pageinfo.pageNum + 1);
            });
        }
        previous.appendTo("#foot");
        next.appendTo("#foot");

        var label = $("<p></p>").append("&nbsp;&nbsp;当前第&nbsp;" + pageinfo.pageNum
            + "&nbsp;页，" + "共 &nbsp;" + pageinfo.total + "&nbsp;条记录");
        label.appendTo("#foot");

    }

    //新增case
    function addCase() {
        var systemType = $("#system_type").val();
        var caseName = $("#case_name").val();
        var descrption = $("#description").val();
        var runUrl = $("#run_url").val();
        $.ajax({
            type: "POST",
            url: "/testcase/add",
            data: {"systemType":systemType,"caseName":caseName,"descption":descrption,"runUrl":runUrl},
            dataType: "json",
            success: function(result) {
                caseTable(1);
            }
        });

    }
    //删除case
    function deleteCase() {

        var caseId = $("#modalButton4").attr("data-caseId")

        $.ajax({
            type: "GET",
            url: "/testcase/deleteById",
            data: "caseId="+caseId,
            dataType: "json",
            success: function(result) {
                caseTable(1);
            }
        });
    }

    //给删除modal传id
    function deleteId(caseId) {
        $("#modalButton4").attr("data-caseId",caseId)
    }

    //给更新modal传id
    function updateId(caseId) {
        $("#modalButton3").attr("data-caseId",caseId)
    }
</script>
</body>

</html>